<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">HOTEL MANAGER WEB</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item" style="margin-right: 30px"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><div class="nav-link active" id="email" aria-current="page" href="#"></div></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" id="nickName"></h1>
                    <p class="lead mb-0">회원님의 페이지입니다!</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8 post">
                    <!-- Featured blog post-->
                    <div class="main-card mb-4">
                        <a href="#!" class="main-card-header"><img class="card-img-top hotel-image" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body card-one-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title">Featured Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row" >
                        <div class="col-lg-6 room">
                            <!-- Blog post-->

                            <!-- Blog post-->

                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->

                        </div>
                    </div>
                    <!-- Pagination-->

                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">

                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">REVIEW 관리</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 review-content"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body booking-list"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script th:inline="javascript">

            function format(inputString){
                const date = new Date(inputString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, "0");
                const day = String(date.getDate()).padStart(2, "0");
                const hour = String(date.getHours()).padStart(2, "0");
                const minute = String(date.getMinutes()).padStart(2, "0");

                const outputString = `${year}-${month}-${day} ${hour}:${minute}`;
                return outputString
            }

            let hotelId
            $(document).ready(function(){
                const member = [[ ${member} ]]
                const data = [[ ${review} ]]
                const bookingList = [[ ${list} ]]

                let hotelDTO


                if(member != null){
                    $('#email').text(member.email)
                    $('#nickName').text('Welcome to'+member.nickName)
                }


                if(data == null) {
                    alert("작성된 데이터가 없습니다.")
                    window.history.back()
                }


                $('.card-one-body').remove()
                $('.main-card-header').remove()

                for(const booking of bookingList){
                    const reservation = booking.bookingDTO
                    const room = booking.roomDTO
                    const roomImage = room.fileNames[0]
                    const checkIn = format(`${reservation.checkIn}`)
                    const checkOut = format(`${reservation.checkOut}`)
                    const createdAt = format(`${reservation.createdAt}`)
                    const bookingId = booking.bookingDTO.id
                    const bookingdeleted = booking.bookingDTO.deleted
                    if(!bookingdeleted) {
                        $('.booking-list').append(`<div>
                                                    <div>체크인  ${checkIn}</div>
                                                    <div>체크아웃  ${checkOut}</div>
                                                    <div>예약시기 ${createdAt}</div>
                                                    <div>방 번호 ${room.roomNumber}</div>
                                                    <div>예약 번호 ${bookingId}</div>
                                                    <button class="btn btn-danger cancel-button" data-booking-id="${bookingId}">예약 취소</button>
                                                </div><br><hr>`)
                    }


                    $('.post').append(` <div class="main-card mb-4">
                        <a href="#!" class="main-card-header">
                        <img class="card-img-top hotel-image" src="/view?fileName=${roomImage}" alt="..." />
                        </a>
                       <div class="card-body card-one-body">
                            <div class="small text-muted">${room.roomNumber} 호</div>
                            <h2 class="card-title">방 등급 : ${room.roomClass}</h2>
                            <p class="card-text">방 최대인원 : ${room.roomLimit}</p>
                            <p class="card-text"> &starf; ${room.description}</p>
                            <a class="btn btn-success" href="/room/detail?id=${room.id}">Read more →</a>
                        </div>
                    </div>`)

                }
                $(`.cancel-button`).on(`click`, function (){
                    const bookingId = $(this).data(`booking-id`)
                    const $parentDiv = $(this).parent()
                    axios.post(`/booking/delete/`+ bookingId)
                        .then((response) => {
                            console.log("OK")
                            $parentDiv.remove()
                        }).catch((error) => {
                        console.log("fail")
                    });
                })

                for(const review of data){
                    reviewDTO = review.reviewResponseDTO

                    console.log(reviewDTO)
                    if(reviewDTO != null){
                            $('.review-content').append(`
                                <div><a href="/hotel/detail?id=${reviewDTO.id}" style="text-decoration: none;margin-bottom: 10px">${reviewDTO.reviewContent}</a></div>
                         `)
                    }
                }

            })

            function changeSelect(){

                const selectData = $('.form-select').val();

                if(selectData == 'room'){       //Hotel 일 경우로 바꿀예정
                    $('.card-header').remove()
                    $('.card-one-body').remove()
                     roomRequest().then(value => {
                            const data = value.data;
                            console.log(data)
                            str = `<div class="card mb-4">
                                <a href="#!"><img class="${data.filename}" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">${data.roomNumber}</h2>
                                    <p class="card-text">${data.description}</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>`
                            $('.room').append(str)
                        }).catch(reason => {
                            alert("데이터가 없습니다.")
                      //      window.history.back()
                        })
                }else if(selectData == 'hotel'){

                }
            }


            async function hotelRequest(){
                    const response = await axios.get('/api/hotel')
                return response
            }

            async function roomRequest(){
                console.log(hotelId)
                const response = await axios.get('/api/room?id='+hotelId)
                return response
            }


        </script>

    </body>
</html>
