<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>예약 페이지</title>
</head>

<body>
<form>
    <input type="hidden" th:name="hotelId" th:value="${hotel.id}"></input>
    <input type="hidden" th:name="memberId" th:value="${member.id}"></input>
    <h1 th:text="${healthInfo.brand_name}"></h1>
    <p th:text="${healthInfo.category}"></p>
    <p th:text="${healthInfo.land_number}"></p>
    <p th:text="${healthInfo.road_number}"></p>
    <a th:href="@{/home/modified(id=${healthInfo.id})}">수정</a>
    <a th:href="@{/home/delete(id=${healthInfo.id})}">삭제</a>
    <button type="submit" onclick="location.href='/page'">뒤로</button>
</form>
<table>
    <a th:href="@{/review/save{id}(id=${healthInfo.id})}">리뷰 쓰기</a>
    <tbody>
    <tr th:each = "review:${reviews}">
        <td th:text="${review.id}"></td>
        <td th:text="${review.title}"></td>
        <td th:text="${review.contents}"></td>
        <td>
            <a th:href="@{/review/modify(id=${review.id})}">수정</a>
        </td>
        <td>
            <a th:href="@{/home/delete(id=${review.id})}">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>