<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <title>Document</title>
</head>
<style>

</style>
<body>
<div class="layout">
  <form th:action="@{/hotel/review/update(id=${review.id})}" method="post">
    <p th:text="${review.id}"></p>
    <input class="form-control" name="content" type="text" th:value="${review.reviewContent}">
    <button class="btn btn-warning" type="submit">리뷰 수정</button>
  </form>
</div>
</body>
</html>