<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<form action="/hotel/search" method="GET" class="form-inline p-2 bd-highlight" role="search">
    <input type="text" name="keyword" class="form-control" id="search" placeholder="검색">
    <button class="btn btn-success bi bi-search">검색</button>
</form>
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>hotelName</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "hotel:${list}">
            <td th:text="${hotel.id}"></td>
            <td >
                <a th:text="${hotel.hotelName}" th:href="@{/hotel/detail(id=${hotel.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/hotel(page=${page}-1)}" th:text ="${page}"></a>
        <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>

    </th:block>

</div>

</body>
</html>