<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Personal - Start Bootstrap Template</title>
    <!-- Favicon-->
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/detail-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/star.css">
</head>
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0" th:text="${article.hotelName}"></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div>
                <!-- Experience Section-->
                <section>
                    <div >
                        <h2 class="text-primary fw-bolder mb-0"></h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        <div class="delete-update">


                        </div>
                    </div>
                </section>

                <!-- Divider-->
                <div class="pb-5"></div>
                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="text-secondary fw-bolder "><div>No.</div></div>
                                    <div class="text-secondary fw-bolder "><div>CityName </div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 hotel-id" th:text="${article.id}"></div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"th:text="${article.cityName}"></div></div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="text-secondary fw-bolder "><div>Tel. </div></div>
                                    <div class="text-secondary fw-bolder "><div>Adress </div></div>
                                    <div class="text-secondary fw-bolder "><div>Rating </div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100" th:text="${article.tellNumber}"></div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100" th:text="${article.address}"></div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100" th:text="(${article.ratingAvg}==0.0)? '-' : ${article.ratingAvg}"></div></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>

                <!--호텔 지도-->
                <h2 class="text-secondary fw-bolder mb-4">Map</h2>
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-0">
                            <div id="map" class="p-5" style="width: 100%; height: 400px; boer-radius: 40px;"></div>
                        </div>
                    </div>

                </section>

                <!--호텔 이미지-->
                <h2 class="text-secondary fw-bolder mb-4">Image</h2>
                <section class="image">
                    <!-- Skillset Card지-->

                </section>

                <!--호텔 예약-->
                <h2 class="text-secondary fw-bolder mb-4">Reservation</h2>
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <label for="checkIn">체크인 날짜:</label>
                            <input class="checkIn" type="date" id="checkIn" name="checkIn"
                                   th:value="${checkIn}" required>
                            <label for="checkOut">체크아웃 날짜:</label>
                            <input class="checkOut" type="date" id="checkOut" name="checkOut"
                                   th:value="${checkOut}" required>
                            <button class="checkButton btn btn-dark">객실 조회</button>

                            <div class="container room-check"></div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Review</h2>
                <!-- Education Card 1-->

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5 myform">
                        <fieldset>
                            <span class="text-bold">별점을 선택해주세요</span>
                            <input type="radio" name="rating" value=5 id="rate1"><label for="rate1">⭐️</label>
                            <input type="radio" name="rating" value=4 id="rate2"><label for="rate2">⭐️</label>
                            <input type="radio" name="rating" value=3 id="rate3"><label for="rate3">⭐️</label>
                            <input type="radio" name="rating" value=2 id="rate4"><label for="rate4">⭐️</label>
                            <input type="radio" name="rating" value=1 id="rate5"><label for="rate5">⭐️</label>
                        </fieldset>
                        <input class="form-control" placeholder="리뷰를 입력하세요 " name="reviewContent" type="text">
                        <button class="btn btn-primary" type="button" onclick="submitReview()">리뷰 작성</button>


                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>id</th>
                                <th>Review Content</th>
                                <th>Review Writer</th>
                                <th>Created Date</th>
                                <th>Modified Date</th>
                                <th>평점</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="review:${article.reviews}">
                                <td th:text="${review.id}"></td>
                                <td th:text="${review.reviewContent}"></td>
                                <td th:text="${review.reviewWriter}"></td>
                                <td th:text="${review.createdDate}"></td>
                                <td th:text="${review.modifiedDate}"></td>
                                <td class="align-content-center" th:text="${review.rating}"></td>
                                <td><button type="button" class="btn btn-warning review-update-btn" th:data-review-id="${review.id}" >수정</button></td>
                                <td><button type="button" class="btn btn-dark review-delete-btn" th:data-review-id="${review.id}" >삭제</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="reviewForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">리뷰 수정하기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <p>
                                <span>No.</span>
                                <span id="id"></span>
                            </p>
                            <label for="reviewContent" class="form-label">리뷰 내용</label>
                            <textarea class="form-control" id="reviewContent" name="reviewContent"></textarea>
                            <fieldset class="myform">
                                <input type="radio" name="update-rating" value=5 id="update-rate5"><label for="update-rate5" style="float: right;">⭐️</label>
                                <input type="radio" name="update-rating" value=4 id="update-rate4"><label for="update-rate4" style="float: right;">⭐️</label>
                                <input type="radio" name="update-rating" value=3 id="update-rate3"><label for="update-rate3" style="float: right;">⭐️</label>
                                <input type="radio" name="update-rating" value=2 id="update-rate2"><label for="update-rate2" style="float: right;">⭐️</label>
                                <input type="radio" name="update-rating" value=1 id="update-rate1"><label for="update-rate1" style="float: right;">⭐️</label>

                            </fieldset>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">수정하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
<!-- Footer-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/detail-scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	2858a9737134fdb246117b738bcfffec"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script th:inline="javascript">  //여기서 요청 넣는 거에요 저 메소드에

        let imageList = [[ ${image.name}]]
        let hotelId = [[ ${article.id}]]
        let latitude = [[${article.latitude}]]
        let longitude = [[${article.longitude}]]
        console.log(latitude)
        console.log(longitude)

        /**
         * 리뷰저장
         */
        function submitReview() {
            // 별점과 리뷰 내용을 가져옵니다.
            const rating = document.querySelector('input[name="rating"]:checked').value;
            const reviewContent = document.querySelector('input[name="reviewContent"]').value;

            // 요청 본문을 설정합니다.
            const requestBody = {
                rating: rating,
                reviewContent: reviewContent
            };
            const requestBodyJSON = JSON.stringify(requestBody);

            // fetch API를 사용하여 요청을 보냅니다.
            fetch('/hotel/review/'+hotelId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: requestBodyJSON
            })
                .then(data => {
                    console.log(data);
                    window.location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        $('.review-delete-btn').on('click', function(e) {
            const reviewId = this.dataset.reviewId;
            $.ajax({
                url: '/hotel/review/'+reviewId,
                method: 'DELETE',
                success: function() {
                    // 리뷰 목록 새로고침
                    location.reload();
                }
            });
        });


        /**
         * 리뷰 수정(modal창)
         */
        // 리뷰 수정 버튼 클릭 이벤트 핸들러
        $('.review-update-btn').on('click', function(e) {
            const reviewId = this.dataset.reviewId;
            e.preventDefault();
            // 리뷰 데이터 로드
            $.get('/hotel/review/' + reviewId, function(data) {
                // 모달창 폼에 데이터 바인딩
                $('#reviewContent').val(data.reviewContent);
                $('#id').text(reviewId); // 리뷰 아이디 출력
                $('input[name="update-rating"][value="' + data.rating + '"]').prop('checked', true); //rating 체크
                // 모달창 열기
                $('#reviewModal').modal('show');
            });
        });

            // 폼 서밋 핸들러
            $('#reviewForm').on('submit', function(e) {
                e.preventDefault();
                // 폼 데이터를 JavaScript 객체로 변환
                const id = document.querySelector('#id').innerText; // id 값을 가져옴
                const reviewContent = document.querySelector('#reviewContent').value; // 리뷰 내용을 가져옴
                const rating = document.querySelector('input[name="update-rating"]:checked').value;

                const formData = {
                    id: id,
                    reviewContent: reviewContent,
                    rating: rating
                };

                // AJAX 요청 보내기
                $.ajax({
                    url: '/hotel/review',
                    method: 'PUT',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function() {
                        // 모달창 닫기
                        $('#reviewModal').modal('hide');
                        // 리뷰 목록 새로고침
                        location.reload();
                    }
                });
            });

        /**
         * 호텔 이미지 불러오기
         * */
        if (imageList != null) {

            for (const name of imageList) {
                const imgSrc = "/view?fileName=" + name
                $('.image').append(`
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <img src='${imgSrc}' width="100%" height="750" style="margin: 10px;"/>

                                </div>
                            </div>

                            `)
            }
        }

        /**
         * 호텔 수정, 삭제 버튼 생성(작성자일 경우에만)
         * */
        let hotelWriter =[[${writer}]]
        let id=[[${article.id}]]

        const updateSrc = "/hotel/update?id=" + id;
        const deleteSrc = "/hotel/delete?id=" + id;

        if (hotelWriter) {
            $('.delete-update').append(`
            <button type="button" class="btn btn-dark" onclick="location.href='${deleteSrc}'">글 삭제</button>
            <button type="button" class="btn btn-warning" onclick="location.href='${updateSrc}'">글 수정</button>

          `);
            console.log(updateSrc)
        }

</script>
<script>

    /**
     * 호텔 map 생성
     * */
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(latitude, longitude),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);

    var markerPosition = new kakao.maps.LatLng(latitude, longitude);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);


    /**
     * 예약가능한 룸 조회 및 예약버튼 눌렀을 때
     * */
    document.querySelector(".checkButton").addEventListener("click", async function (e){
        const data = 0;
        try {
            const response = await gettest();
            for(const dto of response){
                $(`.room-check`).append(`<div class="row justify-content-center mt-5">
                      <div class="col-10">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="card-title">객실 정보</h5>
                            <p class="card-text">객실 번호 : ${dto.roomNumber}</p>
                            <p class="card-text">객실 등급 : ${dto.roomClass}</p>
                            <p class="card-text">가격     : ${dto.roomPrice}</p>
                            <p class="card-text">인원     : ${dto.roomLimit}</p>
                            <p class="card-text">${dto.description}</p>
                            <button class="btn btn-primary roomSaveButton" data-room-id="${dto.id}">예약하기</button>
                          </div>
                        </div>
                      </div>
                    </div>
            `);



                $(`.room-check .card:last-child .roomSaveButton`).off('click').on('click', function() {
                    const checkIn = document.querySelector(".checkIn").value;
                    const checkOut = document.querySelector(".checkOut").value;
                    const roomId = $(this).data('room-id');
                    axios.post('/booking/save', {
                        roomId: roomId,
                        checkIn: checkIn,
                        checkOut: checkOut
                    }).then((response) => {
                        console.log("OK")
                    }).catch((error) => {
                        console.log("fail")
                        console.log(checkIn)
                        console.log(roomId)
                    });
                });
            }
        } catch (error) {
            console.log(error);
        }
    });

</script>
<script>
    async function gettest(){
        const checkIn = document.querySelector(".checkIn").value
        const checkOut = document.querySelector(".checkOut").value
        const hotelId = $(".hotel-id").html()
        console.log(hotelId)
        const url = "/booking/available?checkIn="+checkIn+"&checkOut="+checkOut+"&hotelId="+hotelId

        const response = await axios.get(url)
        console.log(response)
        return response.data
    }
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</body>
</html>
