<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>댓글 작성폼</title>
</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>
<body>

<div class="layout">
    <form th:action="@{/reply/wirte/post}" method="post">
        <input type="text" name="replyId"><br>
        <input type="text" name="writer"><br>
        <input type="text" name="content"><br>
        <button type="submit">
            작성
        </button>
    </form>

</div>

</body>
</html>